Variable

In [0]:
val_string = "Ini text"
print(val_string)

In [0]:
val_integer = 2
print(val_integer)

In [0]:
val_float_1 = 2.34
val_float_2 = float(val_integer)
print(val_float_1,val_float_2)

In [0]:
val_integer_2 = int(val_float_1)
print(val_integer_2)

List

In [0]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

In [0]:
mylist

Dictionary

In [0]:
phonebook = {}
phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781
print(phonebook)

In [0]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}
print(phonebook)

In [0]:
phonebook["John"]

Operator

In [0]:
number = 1 + 2 * 3 / 4.0
print(number)

In [0]:
remainder = 11 % 3
print(remainder)

In [0]:
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

In [0]:
helloworld = "hello" + " " + "world"
print(helloworld)

In [0]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

String Format

In [0]:
name = "John Doe"

print("Hello, my name is {}. I have $50.5 in my bank".format(name))

Exercise 1 (Answer)

In [0]:
"""
Gunakan variable dibawah untuk menghasilkan output print:
'Hello, my name is John Doe. I have $50.5 in my bank'
"""

name = ["John","Doe",101]
hello = "Hello"

Loop

In [0]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

In [0]:
for x in range(5):
    print(x)

# Prints out 3,4,5
for x in range(3, 6):
    print(x)

In [0]:
count = 0
while count < 5:
    print(count)
    count += 1

Condition

In [0]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

In [0]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

In [0]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

Exercise 2 (Answer)

In [0]:
"""
Ubah variable sehingga output print:
1
2
3
4
5
6
"""

# ubah variable ini
number = 10
second_number = 10
first_array = []
second_array = [1,2,3,4]

if number < 15 and number % 6 == 0:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number and number**2 > 200:
    print("6")

Exercise 3 (Answer)

In [0]:
"""
Dari 2 array, buat array yang berisi nama yang muncul di salah satu atau kedua array-nya. Hasil array tidak boleh memiliki duplikat.
Hint: gunakan loop dan condition.
"""

names1 = ["Ava", "Emma", "Olivia"]
names2 = ["Olivia", "Sophia", "Emma"]
names_result = []

Method

In [0]:
def checkNone(value1 = None, value2 = None):
  if value1:
    if value2:
      print("There's 2 value: ({},{})".format(value1,value2))
    else:
      print("There's 1 value: ({})".format(value1))
  elif value2:
    print("There's 1 value: ({})".format(value2))
  else:
    print("There's no value")


checkNone(value1 = 2, value2 = 3)

In [0]:
number1 = [1,None,3]
number2 = [None,None,3]

for x,y in zip(number1,number2):
  checkNone(value1 = x, value2 = y)