Variable

In [0]:
val_string = "Ini text"
print(val_string)

Ini text

In [0]:
val_integer = 2
print(val_integer)

2

In [0]:
val_float_1 = 2.34
val_float_2 = float(val_integer)
print(val_float_1,val_float_2)

(2.34, 2.0)

In [0]:
val_integer_2 = int(val_float_1)
print(val_integer_2)

2

List

In [0]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

1
2
3

In [0]:
mylist

[1, 2, 3]

Dictionary

In [0]:
phonebook = {}
phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781
print(phonebook)

{'Jill': 947662781, 'John': 938477566, 'Jack': 938377264}

In [0]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}
print(phonebook)

{'Jill': 947662781, 'John': 938477566, 'Jack': 938377264}

In [0]:
phonebook["John"]

938477566

Operator

In [0]:
number = 1 + 2 * 3 / 4.0
print(number)

In [0]:
remainder = 11 % 3
print(remainder)

In [0]:
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

In [0]:
helloworld = "hello" + " " + "world"
print(helloworld)

In [0]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

String Format

In [0]:
name = "John Doe"

print("Hello, my name is {}. I have $50.5 in my bank".format(name))

Hello, my name is John Doe. I have $50.5 in my bank

Exercise 1 (Answer)

In [0]:
name = ["John","Doe",101]
hello = "Hello"

print("{}, my name is {} {}. I have ${} in my bank".format(hello, name[0], name[1], float(name[2])/2))

Hello, my name is John Doe. I have $50.5 in my bank

Loop

In [0]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

In [0]:
for x in range(5):
    print(x)

# Prints out 3,4,5
for x in range(3, 6):
    print(x)

In [0]:
count = 0
while count < 5:
    print(count)
    count += 1

Condition

In [0]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

In [0]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

In [0]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

Exercise 2 (Answer)

In [0]:
# change this code
number = 10
second_number = 10
first_array = []
second_array = [1,2,3,4]

number = -18
second_number = 0
first_array = [1,2,3]
second_array = [1,2]

if number < 15 and number % 6 == 0:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number and number**2 > 200:
    print("6")

1
2
3
4
5
6

Exercise 3 (Answer)

In [0]:
"""
Dari 2 array, buat array yang berisi nama yang muncul di salah satu atau kedua array-nya. Hasil array tidak boleh memiliki duplikat.
Hint: gunakan loop dan condition.
"""

names1 = ["Ava", "Emma", "Olivia"]
names2 = ["Olivia", "Sophia", "Emma"]
names_result = []

names = names1+names2
for i in names:
    if i not in names_result:
        names_result.append(i)

print(names_result)

Method

In [0]:
names1 = ["Ava", "Emma", "Olivia"]
names2 = ["Olivia", "Sophia", "Emma"]

def joinDistinct(list1, list2):
  result = []
  join = list1+list2
  for i in join:
      if i not in result:
          result.append(i)
  
  return result

names_result = joinDistinct(names1, names2)
print(names_result)

['Ava', 'Emma', 'Olivia', 'Sophia']

In [0]:
def checkNone(value1 = None, value2 = None):
  if value1:
    if value2:
      print("There's 2 value: ({},{})".format(value1,value2))
    else:
      print("There's 1 value: ({})".format(value1))
  elif value2:
    print("There's 1 value: ({})".format(value2))
  else:
    print("There's no value")


checkNone(value1 = 2, value2 = 3)

There's 2 value: (2,3)

In [0]:
number1 = [1,None,3]
number2 = [None,None,3]

for x,y in zip(number1,number2):
  checkNone(value1 = x, value2 = y)

print("Distinct value ="), joinDistinct(number1,number2)

There's 1 value: (1)
There's no value
There's 2 value: (3,3)
Distinct value = [1, None, 3]